{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

  </head>
  <body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
    
  </body>
  <script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    var path = new paper.Path();
//     var colors = {};
    var paths = {};
    var myID;
    var myColor;
    
    function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;

    var socket = new WebSocket('wss://p3-websockets-andreachisholm-andreaschisholm981773.codeanyapp.com/ws/draw');
    socket.onmessage = function(receivedMessage) {
      //parse the JSON object received
      var parsed = JSON.parse(receivedMessage.data);
      //get the ID 
      var receivedID = (parsed.clientID).toString();
      //get the x and y coordinates
      var pointArr = parsed.sendPoint.split(":");
      var newPoint = new paper.Point(pointArr);
      //get the color for the curr ID
      var color = parsed.color;
      if (!(receivedID in paths)) {
        paths[receivedID] = new paper.Path();
      }
      
      paths[receivedID].strokeColor = color;
      paths[receivedID].add(newPoint);

    }
    
    socket.onopen = function(event) {
        
        var createClientID = Math.floor((Math.random() * 1000) + 1);

        myColor = getRandomColor();
        myID = createClientID;

        tool.onMouseMove = function(event) {

            var xPoint = event.point.x;
            var yPoint = event.point.y;
            var sendPoint = xPoint.toString()+":"+yPoint.toString();
            var sendInfo = {
              "clientID":createClientID,
              "color":myColor,
              "sendPoint":sendPoint
            }
            var sendInfoObj = JSON.stringify(sendInfo);
            socket.send(sendInfoObj);

        }
      };



  </script>
</html>
