{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

  </head>
  <body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
    <div class="hello">
      
    </div>
    
  </body>
  <script>
    


    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    
    //create dictionary to keep track of different paths
    var paths = {};
    
    //create variables for each connection's ID and color
    var myID;
    var myColor;
    
    //function to help get random colors
    function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;

    var socket = new WebSocket('wss://p3-websockets-andreachisholm-andreaschisholm981773.codeanyapp.com/ws/draw');

    if (url.indexOf("large") > -1) {
      socket.onmessage = function(receivedMessage) {
        //parse the JSON object received
        var parsed = JSON.parse(receivedMessage.data);
        //get the ID 
        var receivedID = (parsed.clientID).toString();
        //get the x and y coordinates
        var pointArr = parsed.sendPoint.split(":");
        var newPoint = new paper.Point(pointArr);
        //get the color for the curr ID
        var color = parsed.color;
        //create new path for connection if connection doesn't have a path yet
        if (!(receivedID in paths)) {
          paths[receivedID] = new paper.Path();
        }

        //draw the path
        paths[receivedID].strokeColor = color;
        paths[receivedID].strokeWidth = 5;
        paths[receivedID].add(newPoint);

      }
    }
    
    socket.onopen = function(event) {
        //get random client ID
        var createClientID = Math.floor((Math.random() * 1000) + 1);
        
        //update the current connection's ID and color
        myColor = getRandomColor();
        myID = createClientID;
        path = new paper.Path();
      
      
        var sensitivity = 20;
        var x1 = 0;
        var y1 = 0;
        var z1 = 0;
        var x2 = 0;
        var y2 = 0;
        var z2 = 0;
        var changeColor = false;
        

        window.addEventListener('devicemotion', (event) => {
          x1 = event.acceleration.x;
          y1 = event.acceleration.y;
          z1 = event.acceleration.z;
          
        });
      
        window.addEventListener('deviceorientation', (event) => {
          if (event.gamma > 45) {
            changeColor = true;
          }
          
        });

        setInterval(function () {
            var change = Math.abs(x1-x2+y1-y2+z1-z2);

            if (change > sensitivity) {
                path.remove();
                path = new paper.Path();
                myID = Math.floor((Math.random() * 1000) + 1);
               
            } else if (changeColor == true) {
              newColor = getRandomColor();
              myColor = newColor;
              path.strokeColor = newColor;
              path.strokeWidth = 5;
              changeColor = false;
              
            } 
          

            // Update new position
            x2 = x1;
            y2 = y1;
            z2 = z1;
        }, 150);
        
        //execute when the mouse moves
        tool.onMouseMove = function(event) {

            if (url.indexOf("small") > -1) {
              
              path.strokeColor = myColor;
              path.strokeWidth = 5;
              path.add(event.point);
              
              //get x and y coordinates of the mouse
              var xPoint = event.point.x;
              var yPoint = event.point.y;
              var sendPoint = xPoint.toString()+":"+yPoint.toString();

              //create object and send to websocket
              var sendInfo = {
                "clientID":createClientID,
                "color":myColor,
                "sendPoint":sendPoint
              }
              var sendInfoObj = JSON.stringify(sendInfo);
              socket.send(sendInfoObj);
            }
        } 
        
        
    };
    





  </script>
</html>
