{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

  </head>
  <body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
    <div class="hello"></div>
    
  </body>
  <script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    var path = new paper.Path();
    var clients = [];
    

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;

    var socket = new WebSocket('wss://p3-websockets-andreachisholm-andreaschisholm981773.codeanyapp.com/ws/draw');
    socket.onmessage = function(receivedMessage) {
      var data = (receivedMessage.data).toString();
      //$('.hello').append('<div>'+data+'</div>');
      var pointArr = data.split(":");
      var newPoint = new paper.Point(pointArr);

      path.strokeColor = 'black';
      path.add(newPoint);

//       var path = new paper.Path();
//       var arrayLength = data.length;
//       console.log("length" + arrayLength);
//       for (var i = 0; i < arrayLength; i++) {
//           console.log(data[i]);
//           var points = JSON.parse(data[i]);
//           var xPoint = points.x;
//           var yPoint = points.y;
//           var finalPoint = new paper.Point(xPoint, yPoint);
//           path.add(finalPoint);
//       }
    }
    
    socket.onopen = function(event) {
        
        //var pathPoints = [];
        var clientID = Math.floor((Math.random() * 1000) + 1);

        tool.onMouseMove = function(event) {
            // Add a point to the path every time the mouse is dragged
            path.strokeColor = 'black';
            path.add(event.point);
//             console.log("sent");
//             console.log(event.point);
            //console.log(event.point);
            var xPoint = event.point.x;
            var yPoint = event.point.y;
            var sendPoint = xPoint.toString()+":"+yPoint.toString();
//             var newPoint = {
//               x : (event.point.x).toString(),
//               y : (event.point.y).toString()
//             }
//             pathPoints.push(sendPoint);
//             socket.send(pathPoints);
            socket.send(sendPoint);
            
        }
      };



  </script>
</html>
