{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

  </head>
  <body>
    <!-- You may change the dimensions of this canvas -->
   hi
  </body>
  <script>
    
    //var socket = new WebSocket('wss://p3-websockets-andreachisholm-andreaschisholm981773.codeanyapp.com/ws/draw/wst');;
    var socket5 = new WebSocket('wss://p3-websockets-andreachisholm-andreaschisholm981773.codeanyapp.com/ws/draw/wst');
    socket5.onmessage = function(msg) {
      console.log(msg);
    };
    
    socket5.onopen = function(event) {
      socket5.send("hello");
    };
    
    socket5.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
    };
  </script>
</html>
